＜!DOCTYPE html>
<html>

  <head>
    <title>Get_lesson</title>
  </head>

  <body>
    <h2>名前入力</h2>
    <form action="/12:15homework/12:15lesson_homework_get">
      <label for="keyword">送信</label>
      <input name="keyword" type="text">
      <input type="submit" value="送信">
    </form>
  </body>

</html>