<!DOCTYPE html>
<html>
  <head>
    <title>EJSの練習</title>
  </head>

  <body>
    <div>
        <span style="color: red"><%= count %></span>回目のアクセスです
    </div>
    <div>
      <img src="/files/image.png">
    </div>
  </body>
</html>
