<!DOCTYPE html>
<html>

  <head>
    <title>ユーザー情報表示</title>
  </head>

  <body>
    <h1>会員管理システム</h1>
    <h2>名前入力</h2>

    <form action="/user_info/edit" method="POST" enctype="application/x-www-form-urlencoded">
      <dl>

        <dt><label for="user_name">名前</label></dt>
        <dd><input name="user_name" type="text"></dd>

        <dt>性別</dt>
        <dd>
          <label><input name="user_type" type="radio" value="男性">男性</label>
          <label><input name="user_type" type="radio" value="女性">女性</label>
          <label><input name="user_type" type="radio" value="その他">その他</label>
        </dd>

        <dt>種別（プルダウン）</dt>
        <dd>
          <select name="user_type2"">
            <option value="member">会員</option>            
            <option value="normal">一般</option>            
            <option value="guest">ゲスト</option>            
          </select>
        </dd>

        <dt>スキル</dt>
        <dd>
          <label><input name="check"" type="checkbox" value="javascript">Javascript</label>
          <label><input name="check" type="checkbox" value="ruby">Ruby</label>
          <label><input name="check" type="checkbox" value="php">PHP</label>
        </dd>

        <input name="kakushi" type="hidden" value="隠し項目">

        <input type="submit" value="キャンセル">
        <input type="submit" value="保存">
      </dl>

    </form>
  </body>

</html>