<!DOCTYPE html>
<html>

  <head>
    <title>ユーザー情報表示</title>
  </head>

  <body>
    <h1>会員管理システム</h1>
    <table>
      <tr>
        <td>名前</td>
        <td><%= user_name  %></td>
      </tr>
      <tr>
        <td>性別</td>
        <td><%= user_type  %></td>
      </tr>
      <tr>
        <td>プルダウン</td>
        <td><%= user_type2  %></td>
      </tr>
      <tr>
        <td>スキル</td>
        <td><%= check  %></td>
      </tr>
    </table>
  </body>

</html>