<!DOCTYPE html>
<html>

  <head>
    <title>FORMの練習</title>
  </head>

  <body>
    <h1>ユーザーが入力した情報を送る</h1>
    <h2>ファイルを送る</h2>
    <form action="/lesson4/file" method="POST" enctype="multipart/form-data">
      <input name="file" type="file">
      <input type="submit" value="保存">
    </form>
  </body>

</html>