<!DOCTYPE html>
<html>

  <head>
    <title>FORMの練習</title>
  </head>

  <body>
    <h1>ユーザーが入力した情報を送る</h1>
    <table>
      <tr>
        <td>テキストボックス</td>
        <td><%= keyword  %></td>
      </tr>
    </table>
  </body>

</html>