<html>
<head>
    <link rel="stylesheet" type="text/css" href="lesson3.css">
</head>
<body>
        <div style="background:url(back-1.gif);">
            <text>HTMLの基礎</text>
            <p><div><img src="lesson_picture.png"></div></p>
            <ol>
                <li>C言語</li>
                <li>HTML</li>
                <li>Node.js</li>
                <li>JavaScript</li>
            </ol>
            <table border="2">
                <tr><td>作成</td><td>坂井</td></tr>
                <tr><td>連絡先</td><td>yuto0768@gmail.com</td></tr>
            </table>
            <a href="lesson3-1.html">CSSの基礎へ</a>
        </div>
</body>
</html>

